@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!  Welcome to a slow-coders version of hell.</h1>
    <p>One thing is for sure, I spent way too long on my back-end (DB and SPs as well as the DAL).</p>
    <p>I started to skip certain things in the BLL just so that I could even make it to the MVC layer, but as you can see... there's not much of what I did in the lower layers that's gotten to the surface (user interface) yet!</p>
        <p>>>>If you want to see what DID get to the surface of this application:</p>
    <br />
    <p> Add "/user/create" to the address bar to sign up.  It works!  Be careful though, because although there is an edit link for your profile after you've created it, you won't be able to edit your profile...  (although that edit function works in the DAL, I dropped working on it in the higher layers of the app for lack of time :( </p>
    <br />
    <p> If you want to see the games, instead of "/user/create", put "/jeu" at the end of the original address.  You can't even ADD a game yet, but you CAN see the details of the games in the list if you like.'</p>
</div>
